{
  "swagger": "2.0",
  "info": {
    "description": "Sufel API for Receivers.",
    "version": "2.0",
    "title": "SUFEL",
    "contact": {
      "email": "giansalex@gmail.com"
    }
  },
  "host": "sufel.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "client",
      "description": "Acceso para consulta por credenciales"
    },
    {
      "name": "document",
      "description": "Acceso para consulta por comprobante"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/document/auth": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Autentificacion por comprobante",
        "description": "Retorna el token si la información del documento es válida",
        "operationId": "authByDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Informacion del documento.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/AuthToken"
            }
          },
          "400": {
            "description": "Parametros de entrada inválidos"
          }
        }
      }
    },
    "/document/resource/{type}": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Información del documento.",
        "description": "Retorna la información solicitada del documento asociado al token",
        "operationId": "getDocument",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "info",
              "xml",
              "pdf"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client/login": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Autentificacion por credenciales",
        "description": "Retorna el token si las credenciales son correctas",
        "operationId": "loginClient",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Informacion del login.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/AuthToken"
            }
          },
          "400": {
            "description": "Parametros de entrada inválidos",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/client/register": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Registra un nuevo cliente",
        "description": "Crea el cliente o actualiza si ya existe",
        "operationId": "registerClient",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Info de registro del cliente.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientRegister"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa"
          },
          "400": {
            "description": "Parametros de entrada inválidos",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/client/change-password": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Cambio de contraseña",
        "description": "Actualiza la contraseña del cliente",
        "operationId": "changPasswordClient",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Info de registro del cliente.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordRenew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa"
          },
          "400": {
            "description": "Parametros de entrada inválidos",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client/documents": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Información de los comprobantes.",
        "description": "Retorna la lista de comprobantes del cliente",
        "operationId": "getClientDocuments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Filtro de busqueda",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client/documents/{id}/resource/{type}": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Información del documento.",
        "description": "Retorna la información solicitada del documento asociado al cliente",
        "operationId": "getDocumentByClient",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "info",
              "xml",
              "pdf"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "404": {
            "description": "Paremtros enviado no tiene relación con informacion disponible"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "User Token"
    }
  },
  "definitions": {
    "AuthToken": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "expire": {
          "type": "integer",
          "description": "Unix timestamp"
        }
      }
    },
    "DocumentCredential": {
      "type": "object",
      "required": [
        "emisor",
        "tipo",
        "documento",
        "fecha",
        "total"
      ],
      "properties": {
        "emisor": {
          "type": "string"
        },
        "tipo": {
          "type": "string",
          "example": "01"
        },
        "documento": {
          "type": "string"
        },
        "fecha": {
          "type": "string",
          "format": "date"
        },
        "total": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "emisor": {
          "type": "string"
        },
        "tipo": {
          "type": "string",
          "example": "01"
        },
        "serie": {
          "type": "string",
          "example": "F001"
        },
        "correlativo": {
          "type": "string",
          "example": "123"
        },
        "fecha": {
          "type": "string",
          "format": "date"
        },
        "total": {
          "type": "number",
          "format": "float"
        },
        "cliente_tipo": {
          "type": "string"
        },
        "cliente_doc": {
          "type": "string"
        },
        "cliente_nombre": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "baja": {
          "type": "string"
        },
        "xml": {
          "type": "string",
          "description": "Archivo Xml en base64"
        },
        "pdf": {
          "type": "string",
          "description": "Archivo Pdf en base64"
        }
      }
    },
    "DocumentFilter": {
      "type": "object",
      "required": [
        "start",
        "end"
      ],
      "properties": {
        "start": {
          "type": "string",
          "format": "date"
        },
        "end": {
          "type": "string",
          "format": "date"
        },
        "emisor": {
          "type": "string",
          "example": "20000000001"
        },
        "tipoDoc": {
          "type": "string",
          "example": "01"
        },
        "serie": {
          "type": "string",
          "example": "F001"
        },
        "correlativo": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "PasswordRenew": {
      "type": "object",
      "properties": {
        "old": {
          "type": "string",
          "description": "Actual Contraseña"
        },
        "new": {
          "type": "string",
          "description": "Nueva Contraseña"
        }
      }
    },
    "ClientCredential": {
      "type": "object",
      "properties": {
        "documento": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "ClientRegister": {
      "type": "object",
      "properties": {
        "documento": {
          "type": "string"
        },
        "nombres": {
          "type": "string"
        },
        "usuario_sol": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "repeat_password": {
          "type": "string"
        }
      }
    },
    "ApiError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    }
  }
}