{
  "swagger": "2.0",
  "info": {
    "description": "Sufel API for Companies.",
    "version": "2.0",
    "title": "SUFEL",
    "contact": {
      "email": "giansalex@gmail.com"
    }
  },
  "host": "sufel.net",
  "basePath": "/api",
  "tags": [
    {
      "name": "company",
      "description": "Acceso para empresas"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/company": {
      "post": {
        "tags": [
          "company"
        ],
        "summary": "Crea nueva Empresa",
        "description": "Autorización de nueva empresa.",
        "operationId": "creteCompany",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Datos de la empresa.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa"
          },
          "400": {
            "description": "Parametros de entrada inválidos"
          },
          "401": {
            "description": "Token Inválido"
          }
        },
        "security": [
          {
            "AdminToken": []
          }
        ]
      }
    },
    "/company/auth": {
      "post": {
        "tags": [
          "company"
        ],
        "summary": "Autentificacion de Empresa",
        "description": "Retorna el token si la empresa esta autorizada",
        "operationId": "authCompany",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Credenciales de la empresa.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/AuthToken"
            }
          },
          "400": {
            "description": "Parametros de entrada inválidos"
          },
          "401": {
            "description": "Empresa no autorizada"
          }
        }
      }
    },
    "/company/change-password": {
      "post": {
        "tags": [
          "company"
        ],
        "summary": "Cambia la contraseña de la Empresa",
        "description": "Actualización de la contraseña",
        "operationId": "changePassword",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Passwords",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordRenew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa"
          },
          "400": {
            "description": "No se pudo cambiar la contraseña"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/company/documents": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Lista los documentos del emisor",
        "description": "Retorna lista de documentos segun el rando de fecha.",
        "operationId": "getDocuments",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Inicio Rango de Fecha.",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "name": "end",
            "in": "query",
            "description": "Fin Rango de Fecha.",
            "type": "string",
            "format": "date",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "items": {
                "$ref": "#/definitions/Document"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "company"
        ],
        "summary": "Agrega nuevo documento.",
        "description": "Registra nuevo documento para consulta del cliente.",
        "operationId": "addDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Archivos del documento electrónico.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilesDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "schema": {
              "$ref": "#/definitions/FilesDocument"
            }
          },
          "400": {
            "description": "Parametros de entrada inválidos"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "company"
        ],
        "summary": "Da de baja documento.",
        "description": "Marca como anulado un documento.",
        "operationId": "darBajaDocument",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Información del documento electrónico.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa"
          },
          "400": {
            "description": "No se pudo anular"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "AdminToken": {
      "type": "apiKey",
      "in": "query",
      "name": "token",
      "description": "Admin Token"
    },
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "User Token"
    }
  },
  "definitions": {
    "AuthToken": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "expire": {
          "type": "integer",
          "description": "Unix timestamp"
        }
      }
    },
    "CompanyCredential": {
      "type": "object",
      "required": [
        "ruc",
        "password"
      ],
      "properties": {
        "ruc": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Company": {
      "type": "object",
      "required": [
        "ruc",
        "nombre",
        "password"
      ],
      "properties": {
        "ruc": {
          "type": "string"
        },
        "nombre": {
          "type": "string",
          "example": "Company S.A.C"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "emisor": {
          "type": "string"
        },
        "tipo": {
          "type": "string",
          "example": "01"
        },
        "serie": {
          "type": "string",
          "example": "F001"
        },
        "correlativo": {
          "type": "string",
          "example": "123"
        },
        "fecha": {
          "type": "string",
          "format": "date"
        },
        "total": {
          "type": "number",
          "format": "float"
        },
        "cliente_tipo": {
          "type": "string"
        },
        "cliente_doc": {
          "type": "string"
        },
        "cliente_nombre": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "baja": {
          "type": "string"
        },
        "xml": {
          "type": "string",
          "description": "Archivo Xml en base64"
        },
        "pdf": {
          "type": "string",
          "description": "Archivo Pdf en base64"
        }
      }
    },
    "DocumentInfo": {
      "type": "object",
      "required": [
        "tipo",
        "serie",
        "correlativo"
      ],
      "properties": {
        "tipo": {
          "type": "string"
        },
        "serie": {
          "type": "string"
        },
        "correlativo": {
          "type": "string"
        }
      }
    },
    "FilesDocument": {
      "type": "object",
      "required": [
        "xml",
        "pdf"
      ],
      "properties": {
        "xml": {
          "type": "string"
        },
        "pdf": {
          "type": "string"
        }
      }
    },
    "PasswordRenew": {
      "type": "object",
      "properties": {
        "old": {
          "type": "string",
          "description": "Actual Contraseña"
        },
        "new": {
          "type": "string",
          "description": "Nueva Contraseña"
        }
      }
    }
  }
}